#modalPuesto
	transform translateY(9.5em)
-webkit-input-placeholder
   text-align center
.cash
	color #45a349
	font-size 30px
.cash2
	color #45a349
	position absolute
	font-size 8em
	transform translateY(-0.75em)
	right 0.2em
.quitarOpacity
	opacity 1
.borderModalHeader,.borderModalFooter
	border 1px solid #45a349
.borderModalBody
	border-left 1px solid #45a349
	border-right 1px solid #45a349
.borderModalFooter
	margin-top 0
.titleModal
	color #45a349
.titleSalida
	text-transform uppercase
	color #45a349
	border-top 1px solid #45a349
	padding-top 1.5em
.ingreso
	text-transform none
.cambiar
	transform translateY(-2.5em)
	position absolute
	right 1em
.titleParqueadero
		color #45a349
		padding-bottom 1em
		padding-top 0.5em
		border-bottom 1px solid #45a349
.borderRow
		border-top 1px solid #45a349
		border-bottom 1px solid #45a349
		padding-bottom 1em
