#modalPuesto
	transform translateY(9.5em)
-webkit-input-placeholder 
   text-align center
.cash
	color #45a349 
	font-size 30px
.quitarOpacity
	opacity 1
.borderModalHeader,.borderModalFooter
	border 1px solid #45a349 
.borderModalBody
	border-left 1px solid #45a349	
	border-right 1px solid #45a349
.borderModalFooter		
	margin-top 0
.titleModal
	color #45a349
.titleSalida
	text-transform uppercase
	color #45a349 
	border-top 1px solid #45a349 
	padding-top 1.5em