<div class="container">
	<div class="row">
		<div class="col-md-6 offset-col-md-4">
			<form>
				<h4 class="text-muted"><strong>Ingresar Automovil</strong></h4>
				<div class="form-group">
					<input type="text" class="form-control" ng-model="vm.ingresar.placa" placeholder="Registre la placa">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" ng-model="vm.ingresar.horaEntrada" placeholder="Hora entrada">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" ng-model="vm.ingresar.horaSalida" placeholder="Hora salida">
				</div>
				<div class="form-group">
					<label for="">Hora Actual</label>
					<div type="text" class="form-control" placeholder="Hora Actual">{{vm.parqueadero[0].horaActual}}</div>
				</div>
				<div class="form-group">
					<label for="">Tarifa</label>
					<div type="text" class="form-control" placeholder="Tarifa">${{vm.parqueadero[0].tarifa}}</div>
				</div>

				<button ng-click="vm.ingresarCarro()" class="btn btn-primary col-md-3">Ingresar Carro</button>
			</form>
		</div>
		<div class="col-md-6" ng-show="vm.show">
			<table class="table table-responsive">
				<thead>
					<tr>
						<th>Placa</th>
						<th>Hora Entrada</th>
						<th>Hora Salida</th>
					</tr>
				</thead>
				<tbody>
					<tr>trada}}</td>
						<td>{{vm.mostrar.horaSalida}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</div>
	<br>
	<div class="container">
		<div class="row">
				<div class="col-md-6 offset-col-md-4">
					<form>
						<h4 class="text-muted"><strong>Asignar Puesto</strong></h4>
						<div class="form-group">
							<input type="text" class="form-control" ng-model="vm.asignar.automovil.placa" placeholder="Ingrese la placa">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" ng-model="vm.asignar.parqueadero.id" placeholder="Ingrese id del parqueadero">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" ng-model="vm.asignar.id" placeholder="Puesto">
						</div>
						<!--<button type="button" ng-change="actualizarPuesto(vm.asignar.id)" name="button">Sacar carro</button>-->
						<button ng-click="vm.asignarPuesto()" class="btn btn-primary col-md-3">Asignar puesto</button>
					</form>
				</div>
				<div class="col-md-6" ng-show="vm.show2">
					<table class="table table-responsive">
						<thead>
							<tr>
								<th>Placa</th>
								<th>Parqueadero</th>
								<th>Puesto</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{vm.error.automovil.placa}}</td>
								<td>{{vm.error.parqueadero.id}}</td>
								<td>{{vm.error.id}}</td>
							</tr>
						</tbody>
					</table>
				</div>
		</div>
	</div>
	<br>
	<div class="container">
		<div class="row">
				<div class="col-md-12 offset-col-md-4">
					<!--<form>
						<h4 class="text-muted"><strong>Dar salida al carro</strong></h4>
						<div class="form-group">
							<input type="text" class="form-control" ng-model="vm.itemo" placeholder="Ingrese la placa">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" ng-model="vm.item.parqueadero.id" placeholder="Ingrese id del parqueadero">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" ng-model="vm.item.id" placeholder="Puesto">
						</div>
						<button ng-click="vm.actualizarPuesto()" class="btn btn-primary col-md-3">Sacar Carro</button>
					</form>-->
					<h4 class="text-muted"><strong>Dar salida al carro</strong></h4>
					<table class="table table-responsive">
						<thead>
							<tr>
								<th>Placa</th>
								<th>Parqueadero</th>
								<th>Puesto</th>
								<th>Disponibilidad de Puesto</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in vm.puestos">
								<td>{{item.automovil.placa}}</td>
								<td>{{item.parqueadero.id}}</td>
								<td>{{item.id}}</td>
								<td>
										<!--<input type="number" max="1" min="0" ng-value="item.diponibilidadPuesto" placeholder="{{item.diponibilidadPuesto}}" ng-model="item.diponibilidadPuesto">-->
										<select class="form-control" name="" style="width:200px">
											<option value="1">{{item.diponibilidadPuesto}}</option>
											<option value="0">{{item.diponibilidadPuesto}}</option>
										</select>
										<!--<input  placeholder="{{item.diponibilidadPuesto}}" ng-model="item.diponibilidadPuesto"-->
								</td>
								<td>
									<button class="btn btn-success" ng-click="vm.actualizarPuesto(item)">Dar salida</button>
									<!--ng-model="item.id"-->
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--<div class="col-md-6" ng-show="vm.show3">

				</div>-->
		</div>
	</div>
	<div class="modal fade" id="modalPuesto">
	  <div class="modal-dialog">
	    <div class="modal-content modal-altura">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
	        <h4 class="modal-title">Carrito de compras</h4>
	      </div>
	      <div class="modal-body" ng-repeat="item in vm.carroActualizado">
	        has seleccionado : {{item.automovil.placa}}
	      </div>
	      <div class="modal-footer">
	      	<button type="boton" class="btn btn-primary">Continuar Compra</button>
	        <button type="submit" class="btn btn-success">Pasar a la caja</button>
	        <!--<button id="btnNoRegistrar" class="btn btn-warning" data-dismiss="modal" ng-click="vm.noMostrarModal()">No quiero el descuento</button>-->
	      </div>
	    </div>
	  </div>
	</div>
